{{#each beersFromApi }}

{{!-- <li>
    <img src={{image_url}} alt="beer" width="50px">
    <p>{{name}}</p>
    <p>{{description}}</p>
    <p>{{tagline}}</p>
  </li>
 --}}


<div id="todobeers">
<img src={{image_url}} alt="beer" width="50px">
<div id="beerdiv"> 
    
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <h4>{{tagline}}</h4>
  </div>
  </div>
  
{{/each}}