{{#each responseFromAPI }}

<div id="todorandom">
<img src={{image_url}} alt="beer" width="50px">
<div id="randomdiv"> 
    
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <h4>{{tagline}}</h4>
    <li>{{food_pairing}}</li>
    <p>{{brewers_tips}}</p>

  </div>
  </div>


{{/each}}